VITE_COGNITO_DOMAIN=https://auth-pool.n1.tachy.one
VITE_COGNITO_CLIENT_ID=78a4raqiqns509aadtv7ftjmee
VITE_COGNITO_REDIRECT_URI=http://localhost:1420/callback
VITE_COGNITO_SCOPES=openid email profile
VITE_API_BASE_URL=https://api.n1.tachy.one
VITE_DEFAULT_TENANT_ID=tn_01hjryxysgey07h5jz5wagqj0m
